// Colors

$dark-blue: hsl(238, 29%, 16%);
$soft-red: hsl(14, 88%, 65%);

$dark-grayish-blue: hsl(237, 12%, 33%);
$grayish-blue: hsl(240, 6%, 50%);
$light-grayish-blue: hsl(240, 5%, 91%);

// Gradient
$soft-violet: hsl(273, 75%, 66%);
$soft-blue: hsl(240, 73%, 65%);

// Typography
$font-size: 1.2em;
$weights-normal: 400;
