main {
  display: grid;
  height: 100vh;
  font-family: "Kumbh Sans", Arial, Helvetica, sans-serif;
  background: linear-gradient($soft-violet, $soft-blue);
  font-size: 1.2em;
}
.wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 90%;
  margin: auto;
  padding: 20px;
  border-radius: 30px;
  background-color: #fff;

  @media all and (min-width: 1440px) {
    width: 50%;
    align-items: end;
    padding: 40px;

    padding-top: 100px;
    overflow: hidden;
  }
}
.img__mobile {
  position: absolute;
  bottom: calc(100% - 60px);
  right: calc(50% - 100px);
  width: 100%;
  max-width: 200px;
  object-fit: cover;
  filter: drop-shadow(10px 30px 0 $light-grayish-blue);
  @media all and (min-width: 1440px) {
    display: none;
  }
}
.img__desktop {
  position: absolute;
  display: none;
  bottom: calc(50% - 260px);
  left: -88px;
  max-width: 600px;
  width: 100%;
  object-fit: cover;
  filter: drop-shadow(-55px 120px 0 $light-grayish-blue);
  @media all and (min-width: 1440px) {
    display: block;
  }
}

.accordion {
  margin: 100px 0 40px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  @media all and (min-width: 1440px) {
    width: 50%;
    padding-right: 20px;
  }

  &__title {
    text-align: center;
    text-transform: uppercase;
  }
}

.item {
  overflow: hidden;
  input {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
  }
  &__title {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    color: $dark-grayish-blue;
    cursor: pointer;

    &::after {
      content: "\276F";
      width: 1em;
      height: 1em;
      color: $soft-red;
      text-align: center;
      transition: all 0.35s;
    }
  }

  &__content {
    border-bottom: 1px solid $light-grayish-blue;
    color: $grayish-blue;
    max-height: 0;
    transition: all 0.35s;
  }
}
// checked

input:checked {
  + .item__title {
    color: $dark-blue;
    font-weight: bold;
  }
  + .item__title::after {
    transform: rotate(90deg);
  }

  ~ .item__content {
    max-height: 100vh;
    padding: 10px 0 20px;
  }
}
